.card{
  border:1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.106);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 10%);
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 30%);
}

.student{
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.219);
}
.student p{
  margin: 0px;
}

.welcome-text{
  font-size:2.5em;
  background-color: rgb(28, 161, 59);
  color: white;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10px;
}
.login-alert{
  font-size:2.5em;
  background-color: rgb(237, 42, 35);
  color: white;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10px;
}
.list-category{
  font-size:2.5em;
  font-weight: bold;
  color: rgb(42, 42, 42);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: rgb(43, 255, 0);
}
.list-items{
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
}
.list-items li:hover{
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}
.counter-container{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.count-display{
  font-size: 10em;
  margin-bottom: 0;
  margin-bottom: 50px;
}
.counter-button{
  width:150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: rgb(204, 53, 96);
  color: white;
  cursor: pointer;
}
.counter-button:hover{
  background-color: rgb(237, 114, 147);
}